body {
    background-image: url(../images/achtergrond_forum.jpg);
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    background-color: lightskyblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: blueviolet;
    color: black;
}

.topnav a.active {
    background-color: brown;
    color: white;
}

.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
