body {
    background-image: url(../images/achtergrond_forum.jpg);
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav {
    background-color: lightskyblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: blueviolet;
    color: black;
}

.topnav a.active {
    background-color: brown;
    color: white;
}

.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.header {
    padding: 40px;
    background: aliceblue;
    color: cornflowerblue;
    font-size: 40px;
}

.header img {
    float: left;
}

.header h1 {
    width: 500px;
    margin-left: 200px;
}

.gaming {
    background-color: lightskyblue;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.lifestyle {
    background-color: lightskyblue;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.fashion {
    background-color: lightskyblue;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.lorem {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    font-size: 20px;
    padding: 1px;
}